.mainQualification{
    width: 100vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
}


.head-QLF{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-QLF button{
    padding: 10px 0px;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-family: var(--font-title);
    font-size: 18px;
    transition: .5s all;
}

.head-QLF button:hover{
    color: #000;
    opacity: .5;
}

.opacBtn{
    opacity: .5;
}

.Qlf-jrn{
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Part1 . ."
        ". Part2 ."
        "Part3 . ."
        ". Part4 ."
        "Part5 . ."
        ;
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    margin-bottom: 10px;
}

.Qlf-jrn::before {
    content: "";
    height: 100%;
    width: 1px;
    border: none;
    background-color: #000;
    position: absolute;
    left: 50%;

}

.Part1 {
    position: relative;
    grid-area: Part1;
    text-align: right;
    padding: 20px;

}




.Part2 {
    grid-area: Part2;

    text-align: left;
    padding: 20px;


}

.Part3 {
    grid-area: Part3;

    text-align: right;
    padding: 20px;


}

.Part4{
    grid-area: Part4;

    text-align: left;
    padding: 20px;
}

.Part5{
    grid-area: Part5;

    text-align: right;
    padding: 20px;
}

.Part1::before {
    content: '';
    height: 15px;
    width: 15px;
    background-color: #000;
    position: absolute;
    left: 100%;
    transform: translate(-45%, 24%);
    border-radius: 50%;
}

.Part2::before {
    content: '';
    height: 15px;
    width: 15px;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translate(-45%, 24%);
    border-radius: 50%;
}

.Part3::before {
    content: '';
    height: 15px;
    width: 15px;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translate(-45%, 24%);
    border-radius: 50%;
}

.Part4::before {
    content: '';
    height: 15px;
    width: 15px;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translate(-45%, 24%);
    border-radius: 50%;
}

.Part5::before {
    content: '';
    height: 15px;
    width: 15px;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translate(-45%, 24%);
    border-radius: 50%;
}

.Hygfy{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Hygfy:nth-of-type(2n){
    margin-top: 85px;
    margin-bottom: 4px;
    align-items: flex-start;
}

.Title{
    font-weight: bolder;
    font-size: 15px;
}


.Hygfy:nth-child(2n+1){
    text-align: right;
}



.Etablissement{
    color: darkgray;
    font-size: 12px;

}

.Lieu{
    font-size: 12px;
    font-style: italic;
    color: darkgray;
}


.point{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #000;
    border: none;
}


.cGYg{
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(-100%);
    top: 56px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: hsl(var(--hue-color), 60%, 95%);
}

.afficheNavBar{
    animation: animNB 1s forwards;
}

.hideNavBar{
    animation: animNBHide 1s forwards;
}



.UL-navig-RWD{
    z-index: 10;
    list-style: none;
    width: 100vw;
    height: calc(100vh - 58px);
    padding: 0;
    margin: 0;
}

.UL-navig-RWD a{
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 60px;
}


.UL-navig-RWD li{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
    cursor: pointer;

}

.UL-navig-RWD li:hover{
    background-color: #C9C4F1;

}

.afficheQualPart {
    display: grid;
}

.BriefSI, .hideQualPart{
    display: none;
}

@keyframes animNB {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes animNBHide {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}



@media screen and (max-width: 664px) {
    .head-QLF button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (max-width: 450px) {
    .mainQualification::before{
        height: 357px;
    }

    .SI-complete{
        display: none;
    }
    .BriefSI{
        display: inline-flex;
    }

}

