.mainQualification{
    width: 100vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    position: relative;
}
.__Schoole::before{
    position: absolute;
    top: 110px;
    left: 50%;
    text-align: center;
    content: '';
    height: 193px;
    width: .5px;
    background-color: #000;
}

.__Work::before{
    position: absolute;
    top: 110px;
    left: 50%;
    text-align: center;
    content: '';
    height:94px;
    width: .5px;
    background-color: #000;
}

.__ProjectUniversity::before{
    position: absolute;
    top: 110px;
    left: 50%;
    text-align: center;
    content: '';
    height: 173px;
    width: .5px;
    background-color: #000;
}


.head-QLF{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-QLF button{
    padding: 10px 0px;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-family: var(--font-title);
    font-size: 18px;
    transition: .5s all;
}

.head-QLF button:hover{
    color: #000;
    opacity: .5;
}

.opacBtn{
    opacity: .5;
}

.Qlf-jrn{
    padding: 5px;
    margin-top: 50px;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
}
.Hygfy{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Hygfy:nth-of-type(2n){
    margin-top: 85px;
    margin-bottom: 4px;
    align-items: flex-start;
}

.Hygfy .Title{
    font-weight: bolder;
    font-size: 15px;
}


.Hygfy:nth-child(2n+1){
    text-align: right;
}



.Hygfy .Etablissement{
    color: darkgray;
    font-size: 12px;

}

.Hygfy .Lieu{
    font-size: 12px;
    font-style: italic;
    color: darkgray;
}

.date{
    text-align: right;
    font-size: 12px;
}

.point{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #000;
    border: none;
}

#p1{
    left: 50%;
    transform: translate(-50%, 9%);
    margin-top: 2px;
}

#p2{
    top: 191px;
    left: 50%;
    transform: translate(-50%);
}

#p3{
    top:275px;
    left: 50%;
    transform: translate(-50%);
}

.__Schoole #p2{
    top: 211px;
    left: 50%;
    transform: translate(-50%);
}

.__Schoole #p3{
    top: 292px;
    left: 50%;
    transform: translate(-50%);
}

.__Schoole .Hygfy:nth-of-type(2n){
    margin-top: 103px;
    margin-bottom: 4px;
    align-items: flex-start;
}


.cGYg{
    position: fixed;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(-100%);
    top: 56px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 10;
    background-color: hsl(var(--hue-color), 60%, 95%);
}

.afficheNavBar{
    animation: animNB 1s forwards;
}

.hideNavBar{
    animation: animNBHide 1s forwards;
}



.UL-navig-RWD{
    z-index: 10;
    list-style: none;
    width: 100vw;
    height: calc(100vh - 58px);
    padding: 0;
    margin: 0;
}

.UL-navig-RWD a{
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 60px;
}


.UL-navig-RWD li{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all;
    cursor: pointer;

}

.UL-navig-RWD li:hover{
    background-color: #C9C4F1;

}

.afficheQualPart {
    display: grid;
}

.BriefSI, .hideQualPart{
    display: none;
}

@keyframes animNB {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

@keyframes animNBHide {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}



@media screen and (max-width: 664px) {
    .head-QLF button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .__Schoole .Hygfy:nth-child(2n+1){
        margin-top: -15px;
    }

    .__Schoole #p1{
        margin-top: -12px;
        left: 50%;
        transform: translate(-50%);
    }

    #p1{
        margin-top: -12px;
        left: 50%;
        transform: translate(-50%);
    }

    .__Schoole .Hygfy:nth-of-type(2n) {
        margin-top: 87px;
        margin-bottom: 16px;
        align-items: flex-start;
    }
    .Hygfy:nth-child(2n+1) {
        text-align: right;
        margin-top: -16px;
    }

    .Hygfy:nth-of-type(2n) {
        margin-top: 68px;
        margin-bottom: 21px;
        align-items: flex-start;
    }

}

@media screen and (max-width: 620px) {
    .Hygfy:nth-of-type(2n) {
        
        margin-bottom: -2px;

    }
}

@media screen and (max-width: 394px) {
    .Hygfy:nth-of-type(2n) {
        
        margin-bottom: -16px;

    }
}

@media screen and (max-width: 590px) {
    .mainQualification::before{
        top: 129px;
    }

    #p2{
        top: 191px;
    }

    #p3{
        top: 299px;
    }

    .__ProjectUniversity::before{
        height: 201px;
    }
}

@media screen and (max-width: 450px) {
    .mainQualification::before{
        height: 357px;
    }

    .__Schoole .Hygfy:nth-of-type(2n) {
        margin-top: 91px;
        margin-bottom: 20px;
        align-items: flex-start;
    }

    .__Schoole #p2 {
        top: 216px;
        left: 50%;
        transform: translate(-50%);
    }

    .__Schoole #p3 {
        top: 339px;
        left: 50%;
        transform: translate(-50%);
    }

    .__Schoole::before{
        height: 242px;
    }

    .Hygfy:nth-of-type(2n) {
        margin-top: 83px;
    }

    #p2 {
        top: 207px;
    }

    .__Work::before{
        height: 103px;
    }

    .__ProjectUniversity  .Hygfy:nth-of-type(2n) {
        margin-top: 101px;
    }

    .__ProjectUniversity  #p2 {
        top: 225px;
    }

    .__ProjectUniversity  #p3 {
        top: 350px;
    }

    .__ProjectUniversity::before {
        height: 250px;
    }

    .SI-complete{
        display: none;
    }
    .BriefSI{
        display: inline-flex;
    }

}

@media screen and (max-width: 373px) {
    .__ProjectUniversity::before {
        height: 276px;
    }

    .__ProjectUniversity #p3 {
        top: 373px;
    }

}