.mainQualification{
    width: 100vw;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.mainQualification::before{
    position: absolute;
    top: 110px;
    text-align: center;
    content: '';
    height: 273px;
    width: .5px;
    background-color: #000;
}


.head-QLF{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.head-QLF button{
    padding: 10px 0px;
    background-color: transparent;
    border: none;
    color: #000;
    cursor: pointer;
    font-family: var(--font-title);
    font-size: 18px;
    transition: .5s all;
}

.head-QLF button:hover{
    color: #000;
    opacity: .5;
}

.opacBtn{
    opacity: .5;
}

.Qlf-jrn{
    padding: 5px;
    margin-top: 50px;
    display: none;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
}
.Hygfy{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Hygfy:nth-of-type(2n){
    margin-top: 112px;
    margin-bottom: 17px;
    align-items: flex-start;
}

.Hygfy .Title{
    font-weight: bolder;
    font-size: 15px;
}


.Hygfy:nth-child(2n+1){
    text-align: right;
}



.Hygfy .Etablissement{
    color: darkgray;
    font-size: 12px;

}

.Hygfy .Lieu{
    font-size: 12px;
    font-style: italic;
    color: darkgray;
}

.date{
    text-align: right;
    font-size: 12px;
}

.point{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #000;
    border: none;
}

#p1{
    left: 50%;
    transform: translate(-50%, 9%);
    margin-top: 2px;
}

#p2{
    top: 219px;
    left: 50%;
    transform: translate(-50%);
}

#p3{
    top: 313px;
    left: 50%;
    transform: translate(-50%);
}

.afficheQualPart {
    display: grid;
}

.BriefSI, .hideQualPart{
    display: none;
}

@media screen and (max-width: 664px) {
    .head-QLF button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .mainQualification::before{
        top: 138px;
    }

    #p2{
        top: 236px;
    }

    #p3{
        top: 331px;
    }

}

@media screen and (max-width: 590px) {
    .mainQualification::before{
        top: 129px;
    }

    #p2{
        top: 236px;
    }

    #p3{
        top: 331px;
    }

}

@media screen and (max-width: 450px) {
    .mainQualification::before{
        height: 357px;
    }

    #p2{
        top: 236px;
    }

    #p3{
        top: 374px;
    }

    .SI-complete{
        display: none;
    }
    .BriefSI{
        display: inline-flex;
    }

}

@media screen and (max-width: 330px) {
    .mainQualification::before{
        height: 401px;
    }

    #p2{
        top: 236px;
    }

    #p3{
        top: 395px;
    }

}



/* @media screen and (max-width: 449px) {
    #p3 {
        top: 278px;
        left: 50%;
        transform: translate(-50%);
    }

    .mainQualification::before {
        position: absolute;
        top: 38px;
        text-align: center;
        content: '';
        width: .5px;
        background-color: #000;
    }

    .SI-complete{
        display: none;
    }
    .BriefSI{
        display: inline-flex;
    }
    
}

@media screen and (max-width: 366px) {
    #p3 {
        top: 299px;
        left: 50%;
        transform: translate(-50%);
    }

    .mainQualification::before {
        position: absolute;
        top: 38px;
        text-align: center;
        content: '';
        width: .5px;
        background-color: #000;
    }
}



@media screen and (max-width: 288px) {
    #p3 {
        top: 291px;
        left: 50%;
        transform: translate(-50%);
    }

    .mainQualification::before {
        position: absolute;
        top: 38px;
        text-align: center;
        content: '';
        width: .5px;
        background-color: #000;
    }

    .Hygfy:nth-of-type(2n) {
        margin-top: 90px;
        margin-bottom: -2px;
        align-items: flex-start;
    }
} */