.Services{
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.containS{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 80%;
    width: auto;
}

.Block-{
    margin: 0 20px;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    box-shadow: 0px 3px 12px -7px #9baaaa;
}


.Block- .symb{
    margin-left: 20px;
    font-size: 30px;
}

.Block- .View{
    cursor: pointer;
}

.Block- .tit, .Block- .View{
    padding: 10px 20px;
    font-size: 13px;
}

.Block- .tit{
    font-size: 24px;
}

._front-end, ._sowftware, ._AmoaPrf{
    display: none;
    
   
}

.containFE{
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 19px 32px;
}

.L1{
    display: flex;
    padding: 10px 0;
    
}

.vld{
    min-height: 25px;
    min-width: 25px;
    max-height: 25px;
    max-width: 25px;
    border-radius: 50%;
    border: 1px solid lightgray;
    transform: translate(0, -10%);
    margin-right: 10px;
    background-color: lime;
    position: relative;
}

.vld::before{
    position: absolute;
    top: 7%;
    left: 10%;
    content: '';
    height: 10px;
    width: 20px;
    border-top: none;
    border-right: none;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    transform: rotate(-45deg);
}

.exit{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.exit:hover{
    opacity: .5;
}

.flexClass{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    z-index: 100;
}

@media screen and (max-width: 664px) {
    .containS{
        flex-direction: column;
        margin-top: 50px;
    }
}
