.Skills{
    width: 100vw;
    background-color: transparent;
    margin-top: 78px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.Lang-skills{
    margin-top: 20px;
    transition: all 2s;
    width: 340px;
}

.title-LS{
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
}

.contain-Skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 700px;
}

 .Langage, .DataBase, .Tools, .Framework, .Others{
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
} 


.lang{
    font-size: 14.5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.textPrc{
    color: darkgray;
}


.affiche{
    display: flex;
    transition: 2s all;
}


@media screen and (max-width: 728px) {
    .contain-Skills{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }
}