<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="Style.css">
  <title>Tawfik Belaifa</title>
</head>

<body>
  <header class="en-tete" id="hed">
    <div class="logo">Ingénieur Logiciel I</div>
    <nav class="navitation">
      <ul class="UL-navig">
        <a href="#Home"> 
          <li>Accueil</li>
        </a> <a href="#About">
          <li>A propos</li>
        </a> <a href="#Skills">
          <li>Compétences</li>
        </a> <a href="#Services">
          <li>Services</li>
        </a> <a href="#PortFolio">
          <li>PortFolio</li>
        </a> <a href="#Contact">
          <li>Contact</li>
        </a>
      </ul>
      <i class="fas fa-bars"></i>
    </nav>
  </header>
  <div class="cGYg">
    <ul class="UL-navig-RWD">
      <a href="#Home">
        <li>Accueil</li>
      </a> <a href="#About">
        <li>A propos</li>
      </a> <a href="#Skills">
        <li>Compétences</li>
      </a> <a href="#Services">
        <li>Services</li>
      </a> <a href="#PortFolio">
        <li>PortFolio</li>
      </a> <a href="#Contact">
        <li>Contact</li>
      </a>
    </ul>
  </div>
  <section class="home" id="Home">
    <div class="Link-Bio">
      <!--  -->

      <i class="fab fa-java"></i>
      <i class="fab fa-js-square"></i>
      <i class="fab fa-css3-alt"></i>
      <i class="fab fa-html5"></i>
      <i class="fab fa-vuejs"></i>
      <i class="fab fa-php"></i>
      <i class="fab fa-symfony"></i>
      <i class="fas fa-database"></i>
    </div>

    <div class="presention-prfl">
      <div class="HI">Bienvenue</div>
      <div class="post">Qui suis-je ?</div>
      <div class="text-Prsn">
        Un pur passionné de digital, je suis un adepte du développement web qui aime la création.
        Je fais de mon mieux pour atteindre mes objectifs.
      </div>
      <div class="contact"><button class="btn-contact">Survoler la carte pour plus d'informations<i
            class="fas fa-location-arrow"></i></button></div>
    </div>

    <div class="imgLogo intro">
      <div class="container-3D">
        <div class="JHgb">
          <div class="front">
            <div class="front-contain">
              <div class="contain-Converture"></div>
              <div class="profil-picture">
                <!-- <img src="./LOGO/logo.jpg" alt=""> -->
              </div>
              <div class="Name">Tawfik BELAIFA</div>
              <div class="currently-job"> <i class="fas fa-briefcase"></i> CS Engineering OI </div>
              <div class="at"><i class="fas fa-building"></i> Üdemy</div>
              <div class="Lieu"></div>
            </div>
          </div>
          <div class="back">
            <div class="back-contain">
              <div class="contain-Converture2">
                <div class="Bref-presentation"></div>
              </div>

              <div class="envoiedemail"><a href="mailto:tawfik.prefessionnel@gmail.com"><button
                    class="contactMe">Contact Me</button></a></div>
              <!-- <hr class="Ghg"> -->
              <div class="SocialReseau">
                <i class="fas fa-globe"></i> <i class="fab fa-linkedin-in"></i>
                <i class="fab fa-github"></i>
              </div>
              <!-- <hr class="Ghg"> -->
              <div class="localisation"><i class="fas fa-map-marker-alt"></i> Paris, France</div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="aboutMe" id="About">
    <div class="titleAB">
      <h1>A propos</h1><span>Introduction</span>
    </div>
    <div class="containAbout">
      <div class="containImg">
        <div class="HYg"><a href="https://ensitech.eu/" target="_blank"> <img src="./LOGO/Logo20.gif" alt=""
              class="aswo"> </a></div>
        <img src="./LOGO/Logo-dev.gif" alt="" class="ensitech">
        <a href="https://www.aswo.com/" target="_blank"><img src="./LOGO/ASWO.gif" alt="" class="ensup"></a>

      </div>
      <div class="containText">
        <div class="presentation">
          Je m'appelle Tawfik BELAIFA, je vis en région parisienne. Passionné du numérique,
          je suis un adepte du Front-End qui aime la création. Je fais tout mon possible pour atteindre mes objectifs.
          Je suis particulièrement attiré par le développement d'applications web sur des technologies prometeuses.
          mais mes différents projets me poussent à découvrir toutes sortes d'environements de développement.
        </div>
        <div class="level">
          <div class="langage">
            <h1>08+</h1><span>Technologies</span>
          </div>
          <div class="langage">
            <h1>02+</h1><span>FrameWork</span>
          </div>
          <div class="langage">
            <h1>08+</h1><span>Outils <br /> && <br />Logiciels</span>
          </div>
        </div>
        <a href="./CV----.pdf" download="CV.pdf">
          <div class="CV-Down">
            CV Download
          </div>
        </a>
      </div>
    </div>
  </section>

  <section class="Skills" id="Skills">
    <div class="titleAB">
      <h1>Compétences</h1><span>Mon niveau techniques</span>
    </div>
    <div class="contain-Skills">
      <div class="Lang-skills">
        <div class="title-LS" data-langage="Langage" id="0"><span>Technologies</span><i class="fas fa-sort-down"
            id="__0"></i></div>
        <div class="Langage">
          <div class="Yhul">
            <div class="lang"><span>Javascript</span> <span class="textPrc">60%</span></div>
            <div class="Jauge">
              <div class="pourcent-JS Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>HTML5</span> <span class="textPrc">90%</span></div>
            <div class="Jauge">
              <div class="pourcent-html5 Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>CSS3</span> <span class="textPrc">90%</span></div>
            <div class="Jauge">
              <div class="pourcent-css3 Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>jQuery</span> <span class="textPrc">75%</span></div>
            <div class="Jauge">
              <div class="pourcent-jquery Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>SASS</span> <span class="textPrc">75%</span></div>
            <div class="Jauge">
              <div class="pourcent-jquery Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>PHP</span> <span class="textPrc">45%</span></div>
            <div class="Jauge">
              <div class="pourcent-php Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>Java</span> <span class="textPrc"><span class="Puu__">En cours d'apprentissage chez
                  ASWO </span>| 35%</span></div>
            <div class="Jauge">
              <div class="pourcent-java Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>Symfony</span> <span class="textPrc">35%</span></div>
            <div class="Jauge">
              <div class="pourcent-java Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>SQL</span> <span class="textPrc">80%</span></div>
            <div class="Jauge">
              <div class="pourcent-sql Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>C</span> <span class="textPrc">30%</span></div>
            <div class="Jauge">
              <div class="pourcent-c Uhkj"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="Lang-skills">
        <div class="title-LS" data-langage="Framework" id="1"><span>Framework</span><i class="fas fa-sort-down"
            id="__1"></i></div>
        <div class="Framework">
          <div class="Yhul">
            <div class="lang"><span>Vue.js</span> <span class="textPrc">58%</span></div>
            <div class="Jauge">
              <div class="pourcent-vue Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>Symfony</span> <span class="textPrc">30%</span></div>
            <div class="Jauge">
              <div class="pourcent-symfony Uhkj"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="Lang-skills">
        <div class="title-LS" data-langage="DataBase" id="2"><span>Base de donnée</span><i class="fas fa-sort-down"
            id="__2"></i></div>
        <div class="DataBase">
          <div class="Yhul">
            <div class="lang"><span>SQL</span> <span class="textPrc">80%</span></div>
            <div class="Jauge">
              <div class="pourcent-sql Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>MySQL</span> <span class="textPrc">60%</span></div>
            <div class="Jauge">
              <div class="pourcent-mysql Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>SQL Server</span> <span class="textPrc">58%</span></div>
            <div class="Jauge">
              <div class="pourcent-server Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>PhpMyAdmin</span> <span class="textPrc">90%</span></div>
            <div class="Jauge">
              <div class="pourcent-phpmyadmin Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>Oracle</span> <span class="textPrc">62%</span></div>
            <div class="Jauge">
              <div class="pourcent-oracle Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>Firebase</span> <span class="textPrc">45%</span></div>
            <div class="Jauge">
              <div class="pourcent-php Uhkj"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="Lang-skills">
        <div class="title-LS" data-langage="Tools" id="3"><span>Outils</span><i class="fas fa-sort-down" id="__3"></i>
        </div>
        <div class="Tools">
          <div class="Yhul">
            <div class="lang"><span>Xamp - Lamp - Mamp - Wamp</span> <span class="textPrc">80%</span></div>
            <div class="Jauge">
              <div class="pourcent-xamp Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>VS code - Text Sublime - Eclipe</span> <span class="textPrc">80%</span></div>
            <div class="Jauge">
              <div class="pourcent-vsc Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>Git - Github</span> <span class="textPrc">48%</span></div>
            <div class="Jauge">
              <div class="pourcent-git Uhkj"></div>
            </div>
          </div>

          <div class="Yhul">
            <div class="lang"><span>AdobeXd</span> <span class="textPrc">55%</span></div>
            <div class="Jauge">
              <div class="pourcent-adobe Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>Pack Office</span> <span class="textPrc">90%</span></div>
            <div class="Jauge">
              <div class="pourcent-office Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>WMS (Logistics software)</span> <span class="textPrc">40%</span></div>
            <div class="Jauge">
              <div class="pourcent-wms Uhkj"></div>
            </div>
          </div>

        </div>
      </div>

      <div class="Lang-skills">
        <div class="title-LS" data-langage="Others" id="4"><span>Autres</span><i class="fas fa-sort-down" id="__4"></i>
        </div>
        <div class="Others">
          <div class="Yhul">
            <div class="lang"><span>Responsive Web Design</span> <span class="textPrc">80%</span></div>
            <div class="Jauge">
              <div class="pourcent-xamp Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>Agile Implementation</span> <span class="textPrc">30%</span></div>
            <div class="Jauge">
              <div class="pourcent-symfony Uhkj"></div>
            </div>
          </div>
          <div class="Yhul">
            <div class="lang"><span>Jakarta EE</span> <span class="textPrc"><span class="Puu__">En cours d'apprentissage
                  chez ASWO </span>| 30%</span></div>
            <div class="Jauge">
              <div class="pourcent-c Uhkj"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="titleAB">
        <h1>Qualification</h1><span>Mon parcours personnel</span>
      </div>
      <div class="mainQualification">
        <div class="head-QLF">
          <button class="Education Btn-PersonJ opacBtn" id="Schoole"><i class="fas fa-graduation-cap"></i>
            <span>Education</span></button>
          <button class="Work Btn-PersonJ" id="Work"> <i class="fas fa-briefcase"></i> <span>Pro</span></button>
          <button class="Work Btn-PersonJ" id="ProjectUniversity"> <i class="fas fa-university"></i> <span>Projet
              Universitaire</span></button>
        </div>
        <!-- Contenu Education -->
        <div class="Qlf-jrn afficheQualPart __Schoole" id="_Schoole">

          <div class="Part1">
            <div class="Title">Baccalaureat Scientifique spé <span class="SI-complete">Science de l'Ingénieur</span>
              <span class="BriefSI">SI</span>
            </div>
            <div class="Etablissement">Lycées Jules Uhry </div>
            <span class="Lieu">Creil (60)</span>
            <div class="date">2016</div>
          </div>
          <div class="Part2">
            <div class="Title">MIAGE Computer Science Bachelor's degree</div>
            <div class="Etablissement">University of Picardy Jules Vernes</div>
            <span class="Lieu">Amiens (80)</span>
            <div class="date">2016 - 2019</div>
          </div>
          <div class="Part3">
            <div class="Title">Master INGÉNIERIE DU LOGICIEL ET DU WEB - UX/UI</div>
            <div class="Etablissement">Ecole Informatique du groupe Ensup</div>
            <span class="Lieu">Cergy (95)</span>
            <div class="date">2021 - 2023</div>
          </div>
          
        </div>


        <div class="Qlf-jrn __Work" id="_Work">

          <div class="Part1">
            <div class="Title">CSE Online Instructor</div>
            <div class="Etablissement">Udémy</div>
            <span class="Lieu">Cergy (95)</span>
            <div class="date">2023 - </div>
          </div>
          
          <div class="Part2">
            <div class="Title">JAVA - J2EE Software Engineer</div>
            <div class="Etablissement">ASWO FR</div>
            <span class="Lieu">Cergy (95)</span>
            <div class="date">2021</div>
          </div>

          <div class="Part3">
            <div class="Title">Equipier Polyvalent</div>
            <div class="Etablissement">MacDonald</div>
            <span class="Lieu">Amiens (80)</span>
            <div class="date">2019 - 2021</div>
          </div>
        </div>

        <div class="Qlf-jrn __ProjectUniversity" id="_ProjectUniversity">

          <div class="Part1">
            <div class="Title">Développement d'un site de réservation de logements</div>
            <div class="Etablissement">HTML5, CSS3, Javascript(AJAX), jQuery, PHP, SQL</div>
            <span class="Lieu">VS Code, PhpMyAdmin, MySQL, Apache</span>
            <div class="date">Sep 2018 - Dec 2018</div>
          </div>

          <div class="Part2">
            <div class="Title">Développement d'un réseau social étudiant</div>
            <div class="Etablissement">HTML5, CSS3, Javascript(AJAX), jQuery, PHP, SQL</div>
            <span class="Lieu">Text Sublime, PhpMyAdmin, MySQL, Apache</span>
            <div class="date">Sep 2019 - Dec 2019</div>
          </div>
          <div class="Part3">
            <div class="Title">Conception et Implementation d'une base de donnée</div>
            <div class="Etablissement">SQL</div>
            <span class="Lieu">Text Sublime, Oracle, Linux(Ubuntu)</span>
            <div class="date">Jav 2020 - Apr 2020</div>
          </div>
          <div class="Part4">
            <div class="Title">Développement du jeux Casse Brique</div>
            <div class="Etablissement">JAVA</div>
            <span class="Lieu">Windows, Eclipse</span>
            <div class="date">Jav 2019 - Mars 2019</div>
          </div>
          <div class="Part5">
            <div class="Title">Développement du jeux Mario</div>
            <div class="Etablissement">C</div>
            <span class="Lieu">Ubuntu, Gedit</span>
            <div class="date">Jav 2018 - Mars 2018</div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section class="Services" id="Services">
    <div class="titleAB">
      <h1>Services</h1><span>Ce que j'offre</span>
    </div>
    <div class="containS">
      <div class="Block-">
        <div class="symb"><i class="far fa-window-maximize"></i></div>
        <div class="tit">Front-End</div>
        <div class="View" data-PopupService="front-end">View more <i class="fas fa-arrow-right"></i></div>
      </div>
      <div class="Block-">
        <div class="symb"><i class="fas fa-desktop"></i></div>
        <div class="tit">Software / Mobile App</div>
        <div class="View" data-PopupService="sowftware">View more <i class="fas fa-arrow-right"></i></div>
      </div>
    </div>
  </section>
  <div class="_front-end">
    <div class="containFE">
      <i class="fas fa-times exit"></i>
      <div class="L1">
        <div class="vld"></div> Création de l'interaction avec les éléments UX
      </div>
      <div class="L1">
        <div class="vld"></div> Développer des pages Web
      </div>
      <div class="L1">
        <div class="vld"></div> Développer l'interface utilisateur
      </div>
    </div>
  </div>

  <div class="_sowftware">
    <div class="containFE">
      <i class="fas fa-times exit"></i>
      <div class="L1">
        <div class="vld"></div> Participer aux développement et à l'entretien des interfaces entre le WMS du client et
        le WCS
        fournisseur
      </div>
      <div class="L1">
        <div class="vld"></div> Participer aux développement de nouvelles fonctionnalités de WMS
      </div>
      <div class="L1">
        <div class="vld"></div> Participer aux développement d’applications Mobiles (Scanners, Ipods) pour
        l'optimisation des processus logistique
      </div>
    </div>
  </div>

  <div class="_AmoaPrf">
    <div class="containFE">
      <i class="fas fa-times exit"></i>
      <div class="L1">
        <div class="vld"></div>Rédaction des cahiers des charges
      </div>
      <div class="L1">
        <div class="vld"></div>Spécifications techniques
      </div>
      <div class="L1">
        <div class="vld"></div>Tests de recette
      </div>
      <div class="L1">
        <div class="vld"></div>Mise en production
      </div>
      <div class="L1">
        <div class="vld"></div>Participation à l'implémentation Agile(Scrum)
      </div>
    </div>
  </div>

  <section class="PortFolio" id="PortFolio">
    <div class="titleAB">
      <h1>Portfolio</h1><span>Mes travaux</span>
    </div>

    <div id="app">
      <Carroussel>
        <Slidesc v-for="dataCarouss in dataCarouss">
          <img :src="'./LOGO/'+dataCarouss.name" alt="">
          <div class="Juh">
            <h1>{{dataCarouss.title}}</h1>
            <span class="powred"> {{ dataCarouss.Whats }}</span>
            <div class="conatinBtn"><button class="btn-Juh">{{ dataCarouss.acces }}</button></div>
          </div>
        </Slidesc>
      </Carroussel>
    </div>
  </section>

  <section class="Contact" id="Contact">
    <div class="titleAB">
      <h1>Contact</h1><span>Moyens de contact</span>
    </div>
    <div class="containS">
      <div class="Block-">
        <div class="symb"><i class="fas fa-phone-alt"></i></div>
        <div class="tit">Appelez-moi</div>
        <div class="View">07 85 18 83 76</div>
      </div>
      <div class="Block-">
        <div class="symb"><i class="fas fa-envelope"></i></div>
        <div class="tit">Mail</div>
        <div class="View">Tawfik.professionnel@gmail.com</div>
      </div>
      <div class="Block-">
        <div class="symb"><i class="fas fa-map-marker-alt"></i></div>
        <div class="tit">Localisation</div>
        <div class="View">95800 Cergy, France</div>
      </div>
    </div>
  </section>

  <section class="footer">
    <div class="blc-1">
      <div class="lft">
        <div class="name">Tawfik</div>
        <div class="job">Apprenti Developpeur Java - Java EE</div>
      </div>
      <div class="center">
        <ul class="UHj">
          <li>Services</li>
          <li>Portfolio</li>
          <li>Contact</li>
        </ul>

        <div class="rgt">
          <a href="https://github.com/TawfikBelaifa" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/tawfik-belaifa-817382214/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
      
    </div>
    <div class="blc-2">
      <div><i class="far fa-copyright"></i> Tawfik, Tous droits réservés</div>
      <div class="LLki"><a href="#hed"><i class="fas fa-arrow-up"></i></a></div>
    </div>
  </section>
  <!-- Composant Vue -->

  <script type="text/x-template" id="carroussel">
    <div>
        <div class="carousse">
            <i class="fas fa-chevron-left"  @click="prev" ></i>
                <slot></slot>
            <i class="fas fa-chevron-right" @click="suivant"></i>
        </div>
        <div class="contain-buls">
            <span class="bulls" @click="SelectCarouss(n-1)" v-for="n in dataCaroussLength" :class="{actived: n-1 === index}"></span>
        </div>
    </div>
        
    </script>

  <script type="text/x-template" id="sildes">
        <div class="slid">
            <transition :name="transition">
                <div class="contain-slid" v-show="visible">
                        <slot></slot>
                </div>
            </transition>
        </div>
    </script>




  <!-- Inculsion jQuery -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

  <!-- Importation Vuejs ... -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

  <!-- Inclusion font-awsome for icon  -->
  <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>

  <!-- Inclusion APP  -->
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <script src="./app.js"></script>
  <script src="./anm.js"></script>

  <!-- Inculsion app Vue.js -->
  <script src="./Vuejs/Vue.js"></script>


</body>

</html>
