@import url(./CSS/Home.css);
@import url(./CSS/AboutMe.css);
@import url(./CSS/Skills.css);
@import url(./CSS/anm/anm.css);
@import url(./CSS/Qualification.css);
@import url(./CSS/Services.css);
@import url(./CSS/Portfolio.css);

/* Import de font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root{
    --header-height:3rem;
    --hue-color:250;
    --body-color:hsl(var(--hue-color), 60%, 95%);
    --font-title:'Poppins', sans-serif;
    --icon-size:24px;
    --btn-bg:#C9C4F1;
    --text-color-v1:#000;
    --text-color-v2:#fff;
    --header-color:#C9C4F1;
}



body{
    margin: 0;
    padding: 0;
    background-color: var(--body-color);
    font-family: var(--font-title);
    overflow-x: hidden;
}

